<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.prisoner.game.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.company.prisoner.game.model.User">
        <id property="id" column="id" />
        <result property="nickName" column="nick_name" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
        <result property="role" column="role"/>
        <result property="createBy" column="create_by" />
        <result property="createDate" column="create_date" />
        <result property="lastUpdateBy" column="last_update_by" />
        <result property="lastUpdateDate" column="last_update_date" />
        <result property="deleteFlag" column="delete_flag" />
    </resultMap>

    <select id="getAllUsers" resultMap="UserResultMap">
        SELECT
            *
        FROM
            user
    </select>
    <select id="selectUser" resultMap="UserResultMap">
        SELECT * FROM `user`
        WHERE user_name = #{userName} AND password = #{password}
    </select>

    <select id="selectUserById" resultMap="UserResultMap">
        SELECT * FROM `user`
        WHERE id = #{id}
    </select>

    <update id="updateUser">
        UPDATE user
        SET
        <if test="nickName != null and nickName != ''">
            nick_name = #{nickName},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="lastUpdateBy != null and lastUpdateBy != ''">
            last_update_by = #{lastUpdateBy},
        </if>
            last_update_date = NOW()
        WHERE id = #{id}
    </update>
</mapper>
